.thumbnail-grid img {
  width: 100%;
  max-width: 1000px;
  height: auto;
  /* border-radius: 0.5rem; */
}

.thumbnail-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profileInfo .profile-avatar,
#view-profile .profile-avatar {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  object-fit: cover;
  position: relative;
  border: solid 0.2rem pink;
  box-shadow: black 0px 0px 10px;
  /* margin: 0 0rem 0 2rem; */
}

#profileInfo,
#view-profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.1);
  padding: 1rem 0;
}

.edit-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 0 0;
}

.profile-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.followers-posts-count {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0 1rem 0 0;
}

.followers-posts-count {
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
}

h1 {
  font-size: 1.2rem;
  font-weight: 300;
  /* font-style: italic; */
  font-family: "Raleway", sans-serif;
  margin: 0;
}

#updateProfileForm {
  display: none; /* Skjult som standard */
}

.update-profile-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0 0 0;
}

#editProfileButton {
  height: 1.5rem;
  width: 80%;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  background-color: #f0f0f0;
  padding: 0;
  justify-self: center;
  align-self: center;
}

#follow-button {
  justify-self: center;
  margin: 1rem 0 0 0;
}
.updateButton,
#follow-button {
  height: 1.5rem;
  width: 80%;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  background-color: #f0f0f0;
  padding: 0;
}

.profile-form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-form-group input {
  height: 1.5rem;
  width: 80%;
}

.profile-form-group label {
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  margin: 0.5rem 0 0 0;
}

.edit-post-button,
.delete-post-button {
  height: 1.5rem;
  width: 100%;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  background-color: #f0f0f0;
  padding: 0;
  justify-self: center;
  align-self: center;
}

.user-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  gap: 1rem;
}

#profileFeed,
#single-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 2rem 0;
}

@media (min-width: 1000px) {
  .container .image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  .container .image-container img,
  .container .post-image {
    max-height: 100%;
    max-width: 1000px;
    object-fit: scale-down;
    /* max-height: 20rem; */
  }

  .user-buttons {
    /* max-width: 1000px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 100%;
    max-width: 1000px;
    border: 1px solid rgba(255, 255, 255, 0.137);
    box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.1);
    padding: 2rem 0;
  }
}
